@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Thesignature Regular';
    src: url('fonts/thesignature.regular.otf') format('opentype'); /* OpenType format for compatibility */
    font-weight: normal;
    font-style: normal;
}

.dotted-background {
    background-color: #181818; /* Dark background */
    background-image: radial-gradient(circle,
    rgba(255, 255, 255, 0.2) 0%, /* Light dot color */ rgba(0, 0, 0, 0) 11% /* Transparency to blend the dots */
    );

    /* Updated mask-image for smooth fade */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 90%);
    background-size: 20px 20px; /* Size of each dot */
    background-position: center center; /* Align dots */
    background-repeat: repeat; /* Repeat the pattern */

    /*Dots moving animation*/
    animation: moveDots 10s linear infinite;
}

/*Move dots in circle*/
@keyframes moveDots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 20px 20px;
    }
}

@keyframes wiggle {
    0% {
        transform: skewX(9deg);
    }
    10% {
        transform: skewX(-8deg);
    }
    20% {
        transform: skewX(7deg);
    }
    30% {
        transform: skewX(-6deg);
    }
    40% {
        transform: skewX(5deg);
    }
    50% {
        transform: skewX(-4deg);
    }
    60% {
        transform: skewX(3deg);
    }
    70% {
        transform: skewX(-2deg);
    }
    80% {
        transform: skewX(1deg);
    }
    90% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.timeline-line {
    background: linear-gradient(to bottom, transparent 0%, gray 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    width: 2px;
    mask-composite: exclude;
    position: absolute;
    left: 8px;
    top: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inset !important; /* Ensures background matches */
    -webkit-text-fill-color: white !important; /* Keeps text white */
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
}

.logo-text {
    font-family: 'Thesignature Regular', sans-serif; /* Use your font as the primary body font */
}

.cl-internal-1dauvpw {
    display: none
}

